<% let {id, image, title, author, state, price} = book %>
<div class="book" onClick="seeProduct(<%= id %>)">
    <img src="<%= typeof image === 'undefined' ? '/assets/missing_cover.png' : image %>" alt="cover" class="cover">
    <h1 class="title"><%= title %></h1>
    <h3 class="author"><%= author %></h3>
    <p class="state"><%= state %></p>
    <p class="price"><%= price %>zł</p>
    <button class="add-to-cart" onClick="addToCart(event, <%= id %>)"> Do koszyka </button>
</div>
