<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart}) %>

        <% let {_id, image, title, author, state, price, quantity, language, category, description, tomeNumber} = book %>
        <main>
            <section id="book-details">
                <span id="book-image">
                    <img src="<%= typeof image === 'undefined' ? '/assets/covers/missing.png' : `/assets/covers/${image}` %>" alt="cover">
                </span>

                <span id="book-info">
                    <h1 id="title"><%= title %></h1>
                    <h2 id="author"><%= author %></h4>
                    <h4 class="property">Stan: <%= state %></h4>
                    <h4 class="property">Język: <%= language %></h4>
                    <h4 class="property">Kategoria: <%= category %></h4>
                    <% if(tomeNumber !== null && tomeNumber !== 0) { %> <h4 class="property">Tom: <%= tomeNumber %> </h4> <% } %>
                    <fieldset id="description">
                        <legend>Opis</legend>
                        <p><%= description %></p>
                    </fieldset>
                </span>

                <form action="/cart/add" method="POST" id="book-cart-options">
                    <h1 id="price"><%= price %>zł</h1>
                    <input type="hidden" name="bookId" value="<%= _id %>">
                    <span>
                        <label for="quantity">Liczba sztuk</label>
                        <div class="item-quantity">
                            <button type="button" onclick="changeQuantity(this, -1)">-</button>
                            <input type="number" name="quantity" class="no-spin" min="1" value="1" max="<%= quantity %>">
                            <button type="button" onclick="changeQuantity(this, 1)">+</button>
                        </div>
                        <p>Dostępnych <%= quantity %> sztuk</p>
                    </span>
                    <button type="submit">DODAJ DO KOSZYKA</button>
                </form>

                <% if(tomeBooks.length > 0) { %>
                    <span id="tome-books">
                        <h1>Inne książki z tej serii</h1>
                        <div id="tome-books-list">
                            <% tomeBooks.forEach(tomeBook => { %>
                                <%- include("common/book", {book: tomeBook}) %>
                            <% }) %> 
                        </div>
                    </span>
                <% } %>
            </section>
        </main>
    </body>

    <script src="/scripts/bookScripts.js"></script>
</html>
