<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart}) %>

        <main>
            <section id="cart">
                <div id="cart-items-container">
                    <% cartItems.forEach(item => { %>
                        <div class="cart-item-single">
                            <img src="<%= item.image ? item.image : '/assets/missing_cover.png' %>" alt="item">
                            <a href="/book/<%= item.id %>" class="title"><%= item.title %></a>
                            <p class="price"><%= item.price %>zł</p>
                            <div class="item-quantity">
                                <button>+</button>
                                <input type="number" name="quantity" class="no-spin" min="1" value="<%= item.quantity %>">
                                <button>-</button>
                            </div>
                            <form action="/cart/delete" method="POST" class="delete-form">
                                <input type="hidden" name="bookId" value="<%= item.id %>">
                                <button type="submit">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button>
                            </form>
                        </div>
                    <% }) %>
                </div>

                <div id="cart-summary">
                    <p>Koszt produktów</p>
                    <p class="value"><%= summary.totalPrice %>zł</p>

                    <p>Koszt dostawy</p>
                    <p class="value">12zł</p>

                    <p>Rabat</p>
                    <p class="value"><%= summary.discountPercentage %>%</p>

                    <p>Koszt całkowity</p>
                    <p class="value"><%= summary.finalPrice %>zł</p>

                    <button>Dostawa i Płatność</button>
                </div>
            </section> 
        </main>
    </body>
</html>
