<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart, searchText: filters.title}) %>

        <main>
            <div id="filtered-search">
                <section id="filters">
                    <div class="filter-section categories">
                        <% if(typeof filters.selectedCategory.subcategories !== "undefined") { %>
                            <h2>Podkategorie <%= filters.selectedCategory.name %>:</h2>
                            <p>Powrót do <a onClick="removeCategory()">Kategorii</a></p>
                            <ul>
                                <% filters.selectedCategory.subcategories.forEach(subcategory => { %>
                                    <li class="category <% if(subcategory.checked) { %> selected <% } %>"
                                        onClick="changeQueryParam('subcategory', <%= subcategory.id %>)"><%= subcategory.name %></li>
                                <% }) %>
                            </ul>
                        <% } else { %>
                            <h2>Kategorie </h2>
                            <ul>
                                <% filters.selectedCategory.forEach(category => { %>
                                    <li class="category" onClick="changeQueryParam('category', <%= category.id %>)"><%= category.name %></li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>

                    <div class="filter-section state">
                        <h2>Stan:</h2>
                        <% filters.state.forEach(state => { %>
                            <span>
                                <input type="checkbox" name="state" id="state-<%= state.id %>" value="<%= state.id %>" <% if(state.checked) { %> checked <% } %>>
                                <label for="state-<%= state.id %>"><%= state.name %></label>
                            </span>
                        <% }) %>
                    </div>

                    <div class="filter-section price">
                        <h2>Cena:</h2>
                        <span>
                            <input type="number" name="min-price" id="min-price" placeholder="od" value="<%= filters.minPrice %>" step="0.1">
                            -
                            <input type="number" name="max-price" id="max-price" placeholder="do" value="<%= filters.maxPrice %>" step="0.1">
                        </span>
                    </div>

                    <div class="filter-section language">
                        <h2>Język:</h2>
                        <% filters.language.forEach(language => { %>
                            <span>
                                <input type="checkbox" name="language" id="language-<%= language.id %>" value="<%= language.id %>" <% if(language.checked) { %> checked <% } %>>
                                <label for="language-<%= language.id %>"><%= language.name %></label>
                            </span>
                        <% }) %>
                    </div>

                    <button id="filter-button" onClick="filterBooks()">Filtruj</button>
                </section>

                <% if(books.length > 0) { %>
                <section id="books">
                    <% books.forEach(book => { %>
                        <%- include("common/book", {book} ) %>
                    <% }) %>
                </section>
                <% } else { %>
                <section class="missing">
                    <img src="/assets/no_results.png" alt="Empty cart">
                    <span>
                        <h1>Nie znalezliśmy żadnych wyników</h1>
                        <p>Spróbuj wyszukać używając innych filtrów</p>
                    </span>
                </section>
                <% } %>
            </div>
        </main>
    </body>

    <script src="/scripts/bookScripts.js"></script>
    <script src="/scripts/searchScripts.js"></script>
</html>
