<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mnich</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <%- include("common/searchbar", {categories, user, cart, searchText: filters.searchText}) %>

        <main>
            <div id="filtered-search">
                <section id="filters">
                    <div class="filter-section categories">
                        <% if(typeof filters.selectedCategory !== "undefined") { %>
                            <h2>Podkategorie <%= filters.selectedCategory.name %>:</h2>
                            <% if (filters.selectedCategory.subcategories[0].selected) { %>
                                <p>Powrót do <a onClick="switchToBroaderCategory()"><%= filters.selectedCategory.name %> </a></p>
                            <% } else { %>
                                <p>Powrót do <a onClick="switchToBroaderCategory()">Kategorii</a></p>
                            <% } %>
                            <ul>
                                <% filters.selectedCategory.subcategories.forEach(subcategory => { %>
                                    <li class="category <% if(subcategory.selected) { %> selected <% } %>"
                                        onClick="changeQueryParam('subcategories', '<%= subcategory._id %>')"><%= subcategory.name %></li>
                                <% }) %>
                            </ul>
                        <% } else { %>
                            <h2>Kategorie </h2>
                            <ul>
                                <% filters.categories.forEach(category => { %>
                                    <li class="category" onClick="changeQueryParam('category', '<%= category._id %>')"><%= category.name %></li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>

                    <div class="filter-section price">
                        <h2>Cena:</h2>
                        <span>
                            <input type="number" name="min-price" id="min-price" placeholder="od" value="<%= filters.minPrice %>" step="0.1">
                            -
                            <input type="number" name="max-price" id="max-price" placeholder="do" value="<%= filters.maxPrice %>" step="0.1">
                        </span>
                    </div>

                    <% filters.fields.forEach(field => { %>
                        <div class="filter-section <%= field.name %>">
                            <h2><%= field.displayName %></h2>
                            <% field.entries.forEach(entry => { %>
                                <span>
                                    <input type="checkbox" name="<%= field.name %>" id="entry-<%= entry.queryValue %>"
                                        value="<%= entry.queryValue %>" <% if(entry.checked) { %> checked <% } %>>
                                    <label for="entry-<%= entry.queryValue %>"><%= entry.displayName %></label>
                                </span>
                            <% }) %>
                        </div>
                    <% }) %>

                    <button id="filter-button" onClick="filterBooks()">Filtruj</button>
                </section>

                <% if(books.length > 0) { %>
                <section id="search-result">
                    <div id="header">
                        <h1>Znalezione wyniki (<%= books.length %>)</h1>
                        <select>
                            <option value="0" <% if(filters.sort === 0 ) { %> selected <% } %>>Domyślne Sortowanie</option>
                            <option value="1" <% if(filters.sort === 1 ) { %> selected <% } %>>Cena - od najniższej</option>
                            <option value="2" <% if(filters.sort === 2 ) { %> selected <% } %>>Cena - od najwyższej</option>
                            <option value="3" <% if(filters.sort === 3 ) { %> selected <% } %>>Tytuł - A-Z</option>
                            <option value="4" <% if(filters.sort === 4 ) { %> selected <% } %>>Tytuł - Z-A</option>
                        </select>
                    </div>
                    <div id="books">
                        <% books.forEach(book => { %>
                            <%- include("common/book", {book} ) %>
                        <% }) %>
                    </div>
                </section>
                <% } else { %>
                    <%- include("common/info", {image: "/assets/no_results.png", header: "Nie znalezliśmy żadnych wyników", description: "Spróbuj wyszukać używając innych filtrów"}) %>
                <% } %>
            </div>
        </main>
    </body>

    <script src="/scripts/bookScripts.js"></script>
    <script src="/scripts/searchScripts.js"></script>
</html>
