<nav>
    <section id="nav-general">
        <a href="/">
            <img src="/assets/logo.png" alt="Logo">
        </a>

        <form action="/search" method="GET" id="search">
            <input type="text" name="title" placeholder="Wyszukaj..." maxlength="30" <% if(typeof searchText !== "undefined") { %> value="<%= searchText %>" <% } %>>
            <button type="submit">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </form>

        <div id="login">
            <a href="<%= typeof user === 'undefined' ? '/auth' : '/account' %>" class="material-symbols-outlined">
                person
            </a>
            <span class="additional-info">
                <% if(typeof user !== "undefined" && user.email) { %>
                    <a href="/account"><%= user.email %></a>
                    <a href="/account/logout">Wyloguj się</a>
                <% } else { %>
                    <a href="/auth">Zaloguj się</a>
                <% } %>
            </span>
        </div>

        <a id="cart" href="/cart">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            <% if(typeof cart !== "undefined" && Object.keys(cart.items).length > 0) { %>
                <div id="items-number">
                    <%= Object.keys(cart.items).length %>
                </div>
            <% } %>
        </a>
    </section>
    <section id="nav-categories">
        <% categories.forEach(category => { %>
            <a class="nav-category-single" href="/search?category=<%= category.id %>"><span><%= category.name %></span></a>
        <% }) %>
    </section>
</nav>
